# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Env files
.env
.env.*

# Build output
dist/
build/
out/

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project